{% extends "base.html" %}
{% block content%}

        <div id="title">
    	    <h1>{{article.title}}</h1>
        </div>
        <div id="content">
            <a id="link" href="/profile/{{article.author.id}}/"><h5>Author:{{article.author.username}}</h5></a>

            {% if article.thumbnail %}

             <!--<img src="{{MEDIA_URL}}/{{article.thumbnail}}" width="300">-->
            {% endif %}
            <p>{{article.content}}</p>
            <p>To be edited:{{article.toBeEdited}}</p>
            <p>Suggestions:{{article.suggestions}}</p>
            <!--<div class="fb-like" data-href="{{request.path}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>-->
        </div>
        <br>

        <!--<div id="title"><h3>Comments:</h3></div>-->
        <!--{% if comments %}-->
        <!--{% for comment in comments %}-->
            <!--<div id="content">-->
            <!--<a id="link" href="/profile/{{comment.author.id}}/"><h5>Author:{{comment.author.username}}</h5></a>-->
            <!--<p>{{comment.content}}</p>-->
            <!--</div>-->
        <!--{% endfor %}-->
        <!--{% else %}-->
            <!--<p>None</p>-->
        <!--{% endif %}-->
        <!--{% if request.user.is_authenticated %}-->
                <!--<div id="title"><h3>Add a comment:</h3></div>-->
                <!--<form action="/articles/add_comment/{{article.id}}/" method="POST" >{% csrf_token %}-->
                    <!--{{form.as_p}}-->
                <!--<input type="submit" value="Add comment">-->
                <!--</form>-->
        <!--{% else %}-->
                <!--<div id="content"><h3><a id="link" href="{% url 'index' %}">Log in</a> to add a comment!</h3></div>-->
        {% endif %}
{% endblock %}





{% block like %}
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}